<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/addons/rating.js"></script>
    <script src="/scripts/app.js" defer></script>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Game Show Page</title>
</head>

<body>
    <h1 class='title'> <%= game.title %> </h1>
    <h4>Release Date: <%= game.releaseDate %> </h4>
    <h4>
        Developer:
        <% if (game.dev.length > 0) { %>
        <%= game.dev[0].name %>
        <% } %>
    </h4>
    <!--add the link to dev._id page  -->
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
      </svg>
    <div class="container">
        <p>
            <%= game.description %>
        </p>
    </div>



    <%- include('../partials/navbar')%>
    <!-- take in object called game (data) -->
    <!-- display all game's (data) -->
    <!-- description/icon/date/ratings/link -->
</body>

</html>