<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/addons/rating.js"></script>
    <script src="/scripts/app.js" defer></script>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Game Show Page</title>
</head>
<body>
    <h1 class='title'> <%= game.title %> </h1>
    <h4>Release Date: <%= game.releaseDate %> </h4>
    <h4>Developer: <%= game.dev %> </h4> 
     <!--add the link to dev._id page  -->
    <div class="container">
        <span id="rateMe1"> Rating</span>
      </div>
      <div class="container">
        <p><%= game.description %></p>
      </div>
        
    <form action="/<%= game._id %>/addGameFav?_method=PUT" method="POST">
      <input type="submit" value="add to favorites" placeholder = "Add to Favorites">
    </form>
    <% if (game.dev.length > 0) { %>
        <%= game.dev[0] %> 
    <% } %> 
    <%- include('../partials/navbar')%>
     <!-- take in object called game (data) -->
    <!-- display all game's (data) -->
    <!-- description/icon/date/ratings/link -->
    
</body>
</html>