<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- receive dev data-info -->
    <!-- create form with user input -->
    <!--  action = dev/ :id/ update method=POST -->

    <form action="/devs/<%= dev._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= dev.name %>"> <br>
        <input type="text" name="description" value="<%= dev.description %>"> <br>
        <input type="text" name="icon" value="<%= dev.icon %>"> <br>
        <input type="text" name="link" value="<%= dev.link %>"> <br>
        <input type="submit" value="Update Dev">
    </form>
</body>
</html>