<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <!-- take in object called dev (data) -->
    <!-- display all dev's (data) -->
    <!-- description/icon/date/ratings/link -->
    <h1><%= dev.name %></h1>
    <img src="<%= dev.icon %> " alt="">
    Description: <%= dev.description %> 
    <!-- add the link to game._id page games corresponding to dev company -->
    Company Website: <a href="<%= dev.link %>"><%= dev.name %> </a>
    <% if (dev.games.length > 0) { %>
        <%= dev.games[0] %> 
    <% } %> 
    <form action="/devs/<%= dev._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    <a href="/devs/<%= dev._id %>/edit">Edit Developer Page</a> |
        <%- include('../partials/navbar')%>
</body>
</html>